<p>Puppy Name: <%= @puppy.name %></p>
<p>Puppy Breed: <%= @puppy.breed %></p>
<<<<<<< HEAD
<p>Puppy Age: <%= @puppy.age %> months</p>
=======
<p>Puppy Age: <%= @puppy.age %></p>
>>>>>>> 00e73ba9f6f42a0cdb577a61026c86370849c9b2
