<<<<<<< HEAD
<h1> Welcome to the puppy adoption site!</h1>

<a href="/new">List A Puppy</a>
=======
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Puppy Adoptions!</title>
  </head>
  <body>
    <a href="/new">Click Here To List A Puppy</a>
  </body>
</html>
>>>>>>> 00e73ba9f6f42a0cdb577a61026c86370849c9b2
